.code-block-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.code-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.code-description {
    font-size: 18px;
    margin-bottom: 15px;
    font-style: italic;
    color: #555;
}

.code-editor {
    margin-top: 15px;
}

.correct-code {
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
}
 
